@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');

body {
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 300px;
  height: 555px;

  /* background: -webkit-linear-gradient(to top, #fff, #000); */
  /* background: linear-gradient(to top, #111, #002); */
  /* background: #111; */

  background: linear-gradient(to bottom, rgba(0, 0, 20, 1), rgba(0, 0, 0, 1));

  overflow: hidden;
  scroll-behavior: smooth;

  /* width */
  ::-webkit-scrollbar {
    width: 0px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(100, 200, 0, 0);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: red;
    width: 15px;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
